<form action="/user" method="POST">
    <div class="form-floating mb-3">
        <input name="firstname" type="text" class="form-control" id="firstname" placeholder="name@example.com">
        <label for="floatingInput">Firstname</label>
    </div>

    <div class="form-floating mb-3">
        <input name="lastname" type="text" class="form-control" id="firstname" placeholder="name@example.com">
        <label for="floatingInput">Lastname</label>
    </div>

    <div class="form-floating mb-3">
        <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>

    <button class="btn btn-success">Add User</button>
</form>